<h1>Listing credit_cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Card type</th>
    <th>Month</th>
    <th>Year</th>
    <th>Cvv</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zip</th>
  </tr>

<% for credit_card in @credit_cards %>
  <tr>
    <td><%=h credit_card.name %></td>
    <td><%=h credit_card.number %></td>
    <td><%=h credit_card.card_type %></td>
    <td><%=h credit_card.month %></td>
    <td><%=h credit_card.year %></td>
    <td><%=h credit_card.cvv %></td>
    <td><%=h credit_card.street_address %></td>
    <td><%=h credit_card.city %></td>
    <td><%=h credit_card.state %></td>
    <td><%=h credit_card.country %></td>
    <td><%=h credit_card.zip %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New credit_card', new_credit_card_path %>
