<p>
  <b>Name:</b>
  <%=h @credit_card.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @credit_card.number %>
</p>

<p>
  <b>Card type:</b>
  <%=h @credit_card.card_type %>
</p>

<p>
  <b>Month:</b>
  <%=h @credit_card.month %>
</p>

<p>
  <b>Year:</b>
  <%=h @credit_card.year %>
</p>

<p>
  <b>Cvv:</b>
  <%=h @credit_card.cvv %>
</p>

<p>
  <b>Street address:</b>
  <%=h @credit_card.street_address %>
</p>

<p>
  <b>City:</b>
  <%=h @credit_card.city %>
</p>

<p>
  <b>State:</b>
  <%=h @credit_card.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @credit_card.country %>
</p>

<p>
  <b>Zip:</b>
  <%=h @credit_card.zip %>
</p>


<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
